streamlit
replicate

langchain
langchain-community
langchain-core

# chromadb
# pypdf2
# python-docx
# unstructured
# sentence-transformers
# pinecone-client
# weaviate-client
# pymilvus
# flask
# pypdf
# tabulate
# unstructured[pdf]
# pdfminer.six
# unstructured-inference
# docx2txt